@import url(http://fonts.googleapis.com/css?family=Roboto);
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?2a5dy1');
	src:url('../fonts/icomoon.eot?#iefix2a5dy1') format('embedded-opentype'),
		url('../fonts/icomoon.woff?2a5dy1') format('woff'),
		url('../fonts/icomoon.ttf?2a5dy1') format('truetype'),
		url('../fonts/icomoon.svg?2a5dy1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-icon-face:before {
	content: "\ea8d";
}
.icon-icon-twitter:before {
	content: "\ea91";
}
.icon-icon-git:before {
	content: "\e602";
}


a{
	text-decoration: none;
}
body{
	font-family: Roboto, Arial;
	font-size: 16px;
}
.Footer{
    background-image: url('../images/bg2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2em 0;
    text-align: center;
}


.Footer-form{
    text-align: center;
    display: inline-block;
}

.Footer-left{
    display: inline-block;
    max-width: 30em;
    text-align: center;
    vertical-align: top;
}

.Footer-title{
    color: white;
}

.Footer-formInput,
.Footer-textarea{
    background: white;
    border: none;
    display: block;
    border-radius: 2em;
    padding: .5em;
    margin: 0 auto 1em;
}

.Footer-textarea{
    resize: none;
}

.Footer-button{
    background: orange;
    border-radius: 1em;
    border: none;
    color: white;
    padding: .5em 1em;
}
.Header{
	margin-top: 3.75em;
	background-image: url('../images/portada.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	padding: 1.2em 0;
}
.Header-image{
	border-radius: 50%;
	border: 5px solid white;
}
.Header-name, .Header-link{
	color: white;
}
.Header-link{
	font-size: 2.2em;
	font-weight: bold;
}
.Header-name{
	font-size: 1.5em;
	font-weight: 200;
	margin: 0;
}
.MainMenu{
	background: #1E1E1E;
	height: 3.75em;
	width: 100%;
	text-align: center;
	position: fixed;
	top: 0;

}
.MainMenu-item{
	display: inline-block;
}
.MainMenu-link{
	color: #00DBFF;
	line-height: 3.75em;
	margin: 0 0.5em;
}
.MainMenu-link:hover{
	color: #fff;
}
.MainMenu-list{
	margin: 0;
	padding: 0;
}
.Profile{
	text-align: center;
}
.Profile-link{
	color: white;
	display: inline-block;
	padding: 0.5em 1em;
	border-radius: 2em;
	margin: 0.5em 0.5em;
}
.Profile-linkFacebook{
	background: #3A5795;
}
.Profile-linkTwitter{
	background: #55acee;
}
.Profile-linkGithub{
	background: orange;
}
.u-title{
	color: #00CCFF;
	border-bottom: 1px dashed #00CCFF;
	font-size: 1.5em;
	padding-bottom: 0.5em; 
	font-weight: normal;
}
.Work{
	text-align: center;
}
.Work-imageDescription{
	color: #515151;
	font-style: italic;
}
.Work-imageContainer{
	margin: 0;
}
.Work-item{
	display: inline-block;
	margin: 1em 0.5em;
}